:root {
  --black: #404040;
  --gold: #ffc000;
  --golden-rod: #f0c040;
  --orange: #f08000;
  --grey: #a0a0a0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: var(--gold);
}

.rating .num-reviews {
  color: var(--black);
}

.btn-primary {
  background-color: var(--golden-rod);
  color: var(--black);
  font-weight: bold;
}

.product {
  border: 1px solid var(--black);
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.image-large {
  max-width: 100%;
}

.img-thumbnail {
  max-height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid var(--grey);
  color: var(--grey);
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--orange);
  color: var(--orange);
}

.table {
  max-width: 100vw;
}
